.feturedproduct{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.feturedproductwrapper{
    margin-top: 50px !important;
    width: 80%;
    margin: auto;
    background-color: white;
}